apiVersion: apps/v1
kind: Deployment
metadata:
  name: workflow-manager-service
spec:
  replicas: 1
  selector:
    matchLabels:
      component: workflow-manager-service
  template:
    metadata:
      labels:
        component: workflow-manager-service
    spec:
      serviceAccountName: argo-workflow-reader
      containers:
        - name: workflow-manager-service
          image: {{.Values.image}}
          ports:
            - containerPort: 4000
